<form method="post">
	<label for="title">
		Titel {% title_failure %}
	</label>
	<input type="text" name="title" value="{% title %}">

	<label for="summary">
		Samenvatting {% summary_failure %}
	</label>
	<textarea name="summary" maxlength="250" rows="3" cols="40">{% summary %}</textarea>

	<label for="content">
		Inhoud {% content_failure %}
	</label>
	<textarea class="tabIndent" cols="80" rows="30" name="content">{% content %}</textarea>

	<input type="submit" name="submit" value="Opslaan">
</form>
<script type="text/javascript">
{% tabindentjs %}
tabIndent.renderAll();
</script>