<style type="text/css">{% codemirrorcss %} form input { width: 10cm; } .CodeMirror { font-size: 10pt; line-height: 100%; }</style>
<form method="post">
	<label for="url">
		New url {% url_failure %}
	</label>
	<input type="text" name="url" id="articleurl" value="{% url %}">

	<label for="title">
		Titel {% title_failure %}
	</label>
	<input type="text" name="title" value="{% title %}">

	<label for="mimetype">
		ContentType
	</label>
	<input type="text" name="mimetype" value="{% mimetype %}">

	<label for="summary">
		Samenvatting {% summary_failure %}
	</label>
	<textarea name="summary" maxlength="250" rows="3" cols="80">{% summary %}</textarea>

	<label for="content">
		Inhoud {% content_failure %}
	</label>
	<textarea id="wikieditor" name="content">{% content %}</textarea>

	<input type="submit" name="submit" value="Opslaan">
</form>
<script type="text/javascript">{% codemirrorjs %} {% codemirrorcssjs %} {% codemirrorjsjs %} {% codemirrorxml %} {% codemirorhtml %}
var editor = CodeMirror.fromTextArea(document.getElementById('wikieditor'), { lineNumbers: true, lineWrapping: true, mode: "{% mimetype %}" });
editor.setSize('17cm', '10cm');
</script>

{% appendform %}
